.image-container {
    display: flex;
    justify-content: center; 
    margin: 20px auto; 
}
  
  .center-image {
    max-width: 80%;
    max-height: 700px;
    display: block;
    border-radius: 8px;
  }