* {
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(#63918b, #4a3f6d);
  height: 100vh;
  background-size: cover;
}

#my-header {
  max-height: 50% !important;
  position: relative;
  z-index: 10;
}

.navbar {
  padding: 0.5rem 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  margin-left: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.brand-text {
  margin-left: 10px;
}

#navbarNav {
  margin-right: 20px;
}

.bienvenida {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.containers {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.texto-bienvenida {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.texto-bienvenida h2 {
  font-size: 3rem;
}

.imagen-bienvenida {
  max-width: 55%;
  height: auto;
}

.botones {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  font-size: 1.5rem;
}

.boton {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.tituloResultadoSweetAlert {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.resultadoPrestamoSweetAlert {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: larger;
}

@media (max-width: 768px) {
  .logo-container {
    flex-direction: column;
    align-items: center;
  }
  ul {
    align-items: end;
  }

  .navbar {
    max-width: 100%;
    padding: 0.5rem;
  }

  .bienvenida {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .texto-bienvenida {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
  }

  .imagen-bienvenida {
    max-width: 90%;
    height: auto;
    margin-top: 25px;
  }

  .botones {
    justify-content: center;
    gap: 5px;
    font-size: 1.2rem;
  }

  .boton {
    padding: 8px 16px;
    margin-right: 0;
  }
}
