:root{
  --color-principal:#6886A6
}

*{
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
}
body{
  background-color:var(--color-principal)
}

.header {
  
  padding: 20px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  position:sticky;
  
}
  
  
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box; 
}
  
 
.header__nav__nombreEmpresa {
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-left: 50px;
   
}
 
.header__nav__ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center; 
  cursor: pointer;
}
  
.header__nav__ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ;
  font-size: 20px;
}


.bienvenida {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap; 
}

.containers {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.texto-bienvenida {
  font-size: 2.5rem;
  margin-bottom: 10px; 
}

.imagen-bienvenida {
  max-width: 55%; 
  height: auto;   
}

.botones {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  margin-top: 20px;
  font-size: 1.5rem;
}

.boton {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}